.book-edit-form {
    border: 0;
    border-radius: 10px;
    padding: .4em;

}

.form-book-title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 1em;

}

.form-field-edit {
    background: white;
    border: none;
    border-radius: 5px;
    width: 100%;

}

.form-field-edit label {
    width: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: .9em;
    color: gray;
}

.form-save-button {
    margin-top: .7em;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: hsla(334, 100%, 24%, 1);
    background-color: hsl(349, 100%, 95%);
    padding: .5em 1.5em;
    border: 0;
    border-radius: 1em;

}

.book-edit-input {
    margin: 1em 0 1em;
    width: 100%;
    font-weight: 400;
    text-align: center;
    border-radius: 10px;
    border: solid lightblue;
    padding: .7em 0 .7em;

}